      /* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */

.achievements-header {
  font-family: 'Baloo Tammudu 2', cursive; 
  font-weight: 700;
  text-align: center;
}


.topnotch
{
  margin-top: 200px;
}


@media screen and (min-width: 580px) {
  .navLinks {
    font-size: 20px;
  }
}

@media screen and (max-width: 579px) {
  .navLinks {
    font-size: 15px;
  }
}

@media screen and (min-width: 769px) {
  .achievements-header {
    font-size: 50px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .achievements-header {
    font-size: 15px;
  }
}


@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
  }
}

/* Some Cool Stuff */

.demo-card:nth-child(1) {
  order: 1;
}

.demo-card:nth-child(2) {
  order: 5;
}

.demo-card:nth-child(3) {
  order: 2;
}

.demo-card:nth-child(4) {
  order: 6;
}

.demo-card:nth-child(5) {
  order: 3;
}

.demo-card:nth-child(6) {
  order: 7;
}

.demo-card:nth-child(7) {
  order: 4;
}

.demo-card:nth-child(8) {
  order: 8;
}


/* Border Box */
* {
  box-sizing: border-box;
}

#timeline {
  padding-top: 100px;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
}
#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}

.demo-card-wrapper
{
  margin-top: -180px !important;
}

.demo-card-wrapper2
{
  margin-top: -400px !important;
}

#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}

#timeline .demo-card-wrapper2 {
  position: relative;
  margin: auto;
}

@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 2300px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  #timeline .demo-card-wrapper2 {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 820px;
    margin: 0 auto;
  }

}


@media (max-width: 1000px) {
  .demo-card-wrapper
  {
    margin-top: 10px !important;
  }

  .demo-card-wrapper2
  {
    margin-top: 10px !important;
  }

  .topnotch
  {
    margin-top: 0px;
  }
}


#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}

#timeline .demo-card-wrapper2::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }

   #timeline .demo-card-wrapper2::after {
    border-left: 1px solid #bdbdbd;
  }
}

#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  #timeline .demo-card {
    min-width: 500px;
    height: 500px;
    margin: 50px;
    margin-top: 45px;
    margin-bottom: 100px;
  }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 40px;
  }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  #timeline .demo-card:nth-child(even) {
    margin-left: 40px;
  }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}
#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 450px;
  }
}
#timeline .demo-card .body p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
#timeline .demo-card .body img {
  display: block;
  width: 100%;
}


#timeline .demo-card--step1 {
  background-color: #46b8e9;
}
#timeline .demo-card--step1 .head::after {
  border-color: #46b8e9;
}


#timeline .demo-card--step2 {
  background-color: #3ee9d1;
}
#timeline .demo-card--step2 .head::after {
  border-color: #3ee9d1;
}


#timeline .demo-card--step3 {
  background-color: #CC66CC;
}
#timeline .demo-card--step3 .head::after {
  border-color: #CC66CC;
}


#timeline .demo-card--step4 {
  background-color: #4d92eb;
}
#timeline .demo-card--step4 .head::after {
  border-color: #4d92eb;
}


#timeline .demo-card--step5 {
  background-color: #CCCC33;
}
#timeline .demo-card--step5 .head::after {
  border-color: #CCCC33;
}


#timeline .demo-card--step6 {
  background-color: #9966CC;
}
#timeline .demo-card--step6 .head::after {
  border-color: #9966CC;
}


#timeline .demo-card--step7 {
  background-color: #669999;
}
#timeline .demo-card--step7 .head::after {
  border-color: #669999;
}


#timeline .demo-card--step8 {
  background-color: #999966;
}
#timeline .demo-card--step8 .head::after {
  border-color: #999966;
}


#timeline .demo-card--step9 {
  background-color: #66CCFF;
}
#timeline .demo-card--step9 .head::after {
  border-color: #66CCFF;
}


#timeline .demo-card--step10 {
  background-color: #6666f0;
}
#timeline .demo-card--step10 .head::after {
  border-color: #6666f0;
}


#timeline .demo-card--step11 {
  background-color: #66af66;
}
#timeline .demo-card--step11 .head::after {
  border-color: #66af66;
}


#timeline .demo-card--step12 {
  background-color: #666666;
}
#timeline .demo-card--step12 .head::after {
  border-color: #666666;
}


.body .small {
  font-family: 'Baloo Tammudu 2', cursive;
}
.navLinks {
  text-align: center;

}
@media screen and (min-width: 769px) {
  .navLinks {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .navLinks {
    font-size: 15px;
  }
}

img {
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.demo-card {
  border-radius: 5px;
}

/*styling of the hero title*/
.image-container {
  background-position: center;
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 200px; /* Some height */
  margin-top: 100px;
}

.text {
  background-color: white;
  color: black;
  font-size: 4vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  /*mix-blend-mode: screen;  This makes the cutout text possible */
  font-family: 'Baloo Tammudu 2', cursive;
}

@media screen and (min-width: 769px) {
  .text {
    padding-top: 20px;

  }
}

@media screen and (max-width: 768px) {
  .text
  {
    padding-top: 10px;
  }

  .image-container
  {
    background-position: center;
    background-size: cover;
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 100px; /* Some height */
    margin-top: 100px;
  }

  .text
  {
    background-color: white;
    color: black;
    font-size: 8vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    
    width: 70%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    /*mix-blend-mode: screen;  This makes the cutout text possible */
    font-family: 'Baloo Tammudu 2', cursive;
  }
}

